* {
	margin:0;
	padding: 0;
	font-family: Arial, sans-serif;
}
body{
	background: #eee;
}
h1 a{
	color:#fff;
	line-height: 1.5em;
	text-decoration: none;
}
#header{
	width: 100%;
	padding: 50px 0 150px 0;
	text-align: center;
	background: #673AB7;
	color: #fff;
	margin-bottom: 10px;
}
#content{
	width: 100%;
	margin: 0 auto;
	margin-top:-100px;
	margin-bottom: 50px;
	min-height: 362px;
}
.scrollable{
	width: 100%;
	padding-bottom: 10px;
	overflow: auto;
}

.scrollable::-webkit-scrollbar{
  width: 30px
}
.scrollable::-webkit-scrollbar *{
  background: transparent;
}
.scrollable::-webkit-scrollbar-thumb{
  background: rgba(255,255,255,0);
}
.nowrap-content{
	width: 150%;
	padding: 0 20px 0 20px;
}
#content h2{
	text-align: center;
	color: #673AB7;
	padding: 20px;
}
.col-6{
	float:left;
	width: 50%;
}
.col-4{
	float:left;
	width: 33.333334%;
}
.col-3{
	float:left;
	width: 25%;
}
.col-2{
	float:left;
	width: 16.666667%;
}
#isi, #table, #form, #word-count, #jenis, #jenis-kata, #stopwordlist, #wordlist, #typelist{
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
	margin:20px;
}
#table .header{
	border-radius: 10px 10px 0 0;
	background:#673AB7;
}
#table h2{
	color:#fff;
}
#isi, #stopwordlist, #wordlist, #table{
	padding-bottom: 20px;
}
.col-6.form{
	float: none;
	margin:20px auto;
}
#form form{
	padding: 20px;
}
#word-count, #wordlist, #jenis-kata, #jenis{
	margin-top:40px;
	min-height: 100px;
}
#jenis-kata{
	height: auto;
}
.tab-button{
	width: 100%;
	text-align: center;
	margin-top:20px;
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
.tab-content{
	margin-top:6px;
	background: #fff;
}
.tab-button .col-4{
	cursor:pointer;
	padding-bottom:15px;
	padding-top: 15px;
	transition: 0.2s;
	border-bottom:2px solid transparent;
}
.tab-button .col-4.active{
	border-bottom:2px solid #fff;
}
.tab-button .col-4.active a{
	color:#fff;
}
.tab-button a {
	text-decoration:none;
	color:rgba(255,255,255,.8);
	transition: 0.2s;
}
table{
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
#table td, #table th{
	padding: 8px 8px;
	border-bottom:1px solid #eee;

}
.scroll{
	max-height: 400px;
	overflow: auto;
}
#table .scroll{
	max-height: 480px;
}
#stopwordlist .scroll, #wordlist .scroll{
	max-height: 200px;
}
#typelist .scroll{
	max-height: 300px;
}
input[type="submit"]{
	background: transparent;
	border:none;
	text-transform: uppercase;
	font-weight: bold;
	color:#673AB7;
	outline: none;
	cursor:pointer;
}
label{
	position: absolute;
	text-transform: uppercase;
	font-weight: bold;
	color:#673AB7;
	background: #fff;
	padding:3px 16px;
	font-size: 13.33px;
	cursor: pointer;
}
footer{
	line-height: 1.5em;
	text-align: center;
	padding: 30px;
	background:#673AB7;
	color:  #fff;
}
input[type="file"]{
	outline: none;
	cursor: pointer;
}
@media screen and (max-width: 980px){
	.nowrap-content{
		width: 100%;
		padding: 0;
	}
}
@media screen and (max-width: 768px){
	.col-6{
		width: 100%;
	}
	.col-4{
		width: 100%;
	}
	.col-3{
		width: 100%;
	}
	.col-2{
		width: 100%;
	}
}